In [1]:
import pandas as pd

In [2]:
# Load data into Pandas DataFrame
students_df = pd.read_csv("../files/students_record.csv")

In [3]:
# Exploring the data structure
print("\n======================= DATA EXPLORATION =======================")

(rows, columns) = students_df.shape
print(f"\n{rows} rows, {columns} columns")

print("\n======================= DATA TYPES =======================")
print(students_df.dtypes)

print("\n======================= MISSING VALUES =======================")
print("\nMissing values in each column")
print(students_df.isnull().sum())

print("\n======================= DATASET PREVIEW =======================")
print(students_df.head())

======================= DATA EXPLORATION =======================

21 rows, 11 columns

======================= DATA TYPES =======================
student_id             str
first_name             str
last_name              str
gender                 str
age                  int64
grade_level          int64
math_score         float64
science_score      float64
english_score      float64
history_score        int64
attendance_rate    float64
dtype: object

======================= MISSING VALUES =======================

Missing values in each column
student_id         0
first_name         0
last_name          0
gender             0
age                0
grade_level        0
math_score         4
science_score      2
english_score      1
history_score      0
attendance_rate    0
dtype: int64

======================= DATASET PREVIEW =======================
  student_id first_name last_name gender  age  grade_level  math_score  \
0     STU001       Emma   Johnson      F   16           10        92.0
1     STU002       Liam     Smith      M   15           10        78.0
2     STU003     Olivia  Williams      F   16           10        95.0
3     STU004       Noah     Brown      M   17           11        45.0
4     STU005        Ava     Jones      F   16           10        82.0

   science_score  english_score  history_score  attendance_rate
0           88.0           95.0             78             0.97
1           82.0           65.0             91             0.89
2           96.0            NaN             94             0.98
3           58.0           72.0             63             0.75
4           79.0           85.0             80             0.92

In [4]:
columns = students_df.columns
subject_cols = []

for col in columns:
    if "_score" in col:
        subject_cols.append(col)

stats_summary = students_df[subject_cols].describe()

print(stats_summary)

       math_score  science_score  english_score  history_score
count   17.000000      19.000000      20.000000      21.000000
mean    79.117647      81.105263      81.050000      81.428571
std     12.559271       9.085365       9.779005       9.228063
min     45.000000      58.000000      65.000000      63.000000
25%     73.000000      77.000000      74.250000      78.000000
50%     82.000000      81.000000      81.500000      81.000000
75%     89.000000      87.500000      88.500000      88.000000
max     95.000000      96.000000      95.000000      94.000000

In [5]:
students_df["average_score"] = students_df[subject_cols].mean(axis=1)

top_students = students_df.sort_values("average_score", ascending=False)
print(top_students.head(7))

   student_id first_name  last_name gender  age  grade_level  math_score  \
2      STU003     Olivia   Williams      F   16           10        95.0
18     STU019     Evelyn    Jackson      F   15            9        89.0
0      STU001       Emma    Johnson      F   16           10        92.0
8      STU009   Isabella  Rodriguez      F   15            9        91.0
12     STU013        Mia   Gonzalez      F   17           11        86.0
15     STU016      Ethan     Thomas      M   17           11        91.0
16     STU017     Amelia     Taylor      F   16           10        83.0

    science_score  english_score  history_score  attendance_rate  \
2            96.0            NaN             94             0.98
18           93.0           95.0             88             0.96
0            88.0           95.0             78             0.97
8             NaN           88.0             85             0.93
12           91.0           84.0             88             0.97
15           85.0           79.0             87             0.91
16           78.0           88.0             92             0.94

    average_score
2           95.00
18          91.25
0           88.25
8           88.00
12          87.25
15          85.50
16          85.25

In [6]:
def determine_pass_or_fail(average_score):
    return "Pass" if float(average_score) >= 75 else "Fail"

    # You can also use the code below to return either "Pass" or "Fail" rather than booleans of True and False
    # return "Pass" if average_score >= 75 else "Fail"

students_df["pass_fail"] = students_df["average_score"].apply(determine_pass_or_fail)

print(students_df[["student_id", "first_name", "last_name", "grade_level", "average_score", "pass_fail"]])

   student_id first_name  last_name  grade_level  average_score pass_fail
0      STU001       Emma    Johnson           10      88.250000      Pass
1      STU002       Liam      Smith           10      79.000000      Pass
2      STU003     Olivia   Williams           10      95.000000      Pass
3      STU004       Noah      Brown           11      59.500000      Fail
4      STU005        Ava      Jones           10      81.500000      Pass
5      STU006    William     Garcia            9      72.000000      Fail
6      STU007     Sophia     Miller           11      80.750000      Pass
7      STU008      James      Davis           10      84.750000      Pass
8      STU009   Isabella  Rodriguez            9      88.000000      Pass
9      STU010      Logan   Martinez           11      74.750000      Fail
10     STU011  Charlotte  Hernandez           10      76.666667      Pass
11     STU012   Benjamin      Lopez           10      81.333333      Pass
12     STU013        Mia   Gonzalez           11      87.250000      Pass
13     STU014      Mason     Wilson           10      82.250000      Pass
14     STU015     Harper   Anderson            9      76.250000      Pass
15     STU016      Ethan     Thomas           11      85.500000      Pass
16     STU017     Amelia     Taylor           10      85.250000      Pass
17     STU018  Alexander      Moore           10      69.750000      Fail
18     STU019     Evelyn    Jackson            9      91.250000      Pass
19     STU020    Michael     Martin           11      79.000000      Pass
20     STU020    Michael     Martin           11      79.000000      Pass

In [7]:
# Pass percentage for the entire school

pass_fail_counts = students_df["pass_fail"].value_counts()

number_of_passed_students = pass_fail_counts["Pass"]

pass_percentage = (number_of_passed_students / len(students_df)) * 100

# print(pass_percentage)
 
print(f"\nPass Percentage: {pass_percentage:.2f}%")

Pass Percentage: 80.95%

In [8]:
# Pass percentage by grade level
def calc_pass_percentage(series_grouby):
    return (series_grouby == "Pass").mean() * 100

# result = students_df.groupby("grade_level")["pass_fail"].apply(calc_pass_percentage)
result = students_df.groupby("grade_level")["pass_fail"].apply(lambda x: (x == "Pass").mean() * 100)

print(result)

grade_level
9     75.000000
10    90.000000
11    71.428571
Name: pass_fail, dtype: float64