In [1]:
import pandas as pd

In [2]:
students_df = pd.read_csv("files/students_record.csv")

print("DataFrame shape (rows, columns):", students_df.shape)
print("\nColumn names (in the form of a list):", students_df.columns.tolist())

print("\nData types:")
print(students_df.dtypes)

# Summary statistics
print("\nStatistical summary of dataset:")
print(students_df.describe())

DataFrame shape (rows, columns): (20, 11)

Column names (in the form of a list): ['student_id', 'first_name', 'last_name', 'gender', 'age', 'grade_level', 'math_score', 'science_score', 'english_score', 'history_score', 'attendance_rate']

Data types:
student_id             str
first_name             str
last_name              str
gender                 str
age                  int64
grade_level          int64
math_score           int64
science_score        int64
english_score        int64
history_score        int64
attendance_rate    float64
dtype: object

Statistical summary of dataset:
             age  grade_level  math_score  science_score  english_score  \
count  20.000000    20.000000    20.00000      20.000000      20.000000
mean   16.000000    10.100000    80.60000      80.700000      81.600000
std     0.794719     0.718185    12.17158       9.079184       9.848323
min    15.000000     9.000000    45.00000      58.000000      65.000000
25%    15.000000    10.000000    75.25000      75.500000      74.250000
50%    16.000000    10.000000    83.00000      81.500000      84.500000
75%    17.000000    11.000000    89.50000      87.250000      88.500000
max    17.000000    11.000000    95.00000      96.000000      95.000000

       history_score  attendance_rate
count      20.000000        20.000000
mean       81.550000         0.901500
std         9.450564         0.061497
min        63.000000         0.750000
25%        77.500000         0.875000
50%        81.500000         0.915000
75%        88.750000         0.942500
max        94.000000         0.980000

In [3]:
# Accessing columns
print("\nLast Names:")
print(students_df['last_name'])

Last Names:
0       Johnson
1         Smith
2      Williams
3         Brown
4         Jones
5        Garcia
6        Miller
7         Davis
8     Rodriguez
9      Martinez
10    Hernandez
11        Lopez
12     Gonzalez
13       Wilson
14     Anderson
15       Thomas
16       Taylor
17        Moore
18      Jackson
19       Martin
Name: last_name, dtype: str

In [4]:
# Filtering - In this case we're filtering for students with math score of 90 and above
high_scores = students_df[students_df["math_score"] >= 90]
print(high_scores)

   student_id first_name  last_name gender  age  grade_level  math_score  \
0      STU001       Emma    Johnson      F   16           10          92
2      STU003     Olivia   Williams      F   16           10          95
8      STU009   Isabella  Rodriguez      F   15            9          91
11     STU012   Benjamin      Lopez      M   15           10          94
15     STU016      Ethan     Thomas      M   17           11          91

    science_score  english_score  history_score  attendance_rate
0              88             95             78             0.97
2              96             88             94             0.98
8              82             88             85             0.93
11             87             65             92             0.95
15             85             79             87             0.91

In [5]:
# Conditional selection
new_df = students_df[["student_id", "first_name", "last_name", "gender", "age", "attendance_rate"]]
print(new_df)

   student_id first_name  last_name gender  age  attendance_rate
0      STU001       Emma    Johnson      F   16             0.97
1      STU002       Liam      Smith      M   15             0.89
2      STU003     Olivia   Williams      F   16             0.98
3      STU004       Noah      Brown      M   17             0.75
4      STU005        Ava      Jones      F   16             0.92
5      STU006    William     Garcia      M   15             0.85
6      STU007     Sophia     Miller      F   17             0.91
7      STU008      James      Davis      M   16             0.94
8      STU009   Isabella  Rodriguez      F   15             0.93
9      STU010      Logan   Martinez      M   17             0.86
10     STU011  Charlotte  Hernandez      F   16             0.88
11     STU012   Benjamin      Lopez      M   15             0.95
12     STU013        Mia   Gonzalez      F   17             0.97
13     STU014      Mason     Wilson      M   16             0.92
14     STU015     Harper   Anderson      F   15             0.83
15     STU016      Ethan     Thomas      M   17             0.91
16     STU017     Amelia     Taylor      F   16             0.94
17     STU018  Alexander      Moore      M   16             0.79
18     STU019     Evelyn    Jackson      F   15             0.96
19     STU020    Michael     Martin      M   17             0.88